$primary-textcolor: #000000;
$btn_red: #ef8094;

//Common styles
body {
  color: $primary-textcolor;
}
.btn-red {
  text-decoration: none;
  border: 3px solid $btn-red;
  border-radius: 30px;
  padding: 10px 25px 11px 25px;
  font-family: "DM Sans";
  font-weight: 800;
  letter-spacing: 2px;
  font-size: 14px;
  color: $primary-textcolor;
  text-transform: uppercase;
}
p {
  font-size: 15px;
  line-height: 21px;
}
.center {
  text-align: center;
}
a {
  text-decoration: none;
}

@media (max-width: 992px) {
  .main {
    p {
      font-size: 16px;
    }
  }
}
